// Base Hexadecimal Colors
@a-hex-white              : #ffffff;
@a-hex-beige              : #fcf6f0;
@a-hex-brown              : #89867e;
@a-hex-gray-blue          : #6589a9;
@a-hex-yellow             : #feeba1;
@a-hex-light-orange       : #f8bb6a;
@a-hex-orange             : #fa7747;
@a-hex-light-orange       : #fc9a5a;
@a-hex-dark-orange        : #d95b29;
@a-hex-red                : #b64633;


// Background Colors
@a-bg-main-window         : @a-hex-beige;

// Headlines Colors
@a-headline-main-color    : @a-hex-brown;

// Base RGB Colors
@a-rgb-brown              : 238, 233, 215;
@a-rgba-gray-blue         : rgba(101, 137, 169, 0.5);
@a-rgb-yellow             : 254, 235, 161;
@a-rgb-light-orange       : 248, 187, 106;
@a-rgb-orange             : 252, 154, 90;
@a-rgb-dark-orange        : 250, 119, 71;
@a-rgb-red                : 182, 70, 51;

// Spinner Animation Colors
@a-color-opacity          : 0.5;
@a-spinner-main-color     : e("@{a-rgba-gray-blue}");
@a-spinner-second-color   : @a-rgb-orange;
@a-spinner-third-color    : @a-rgb-red;
